.title {
  font-size: 20px;
  color: black;
  margin: auto;
  text-align: center;
}

body {
  background-color: #48df54;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.result {
  font-size: 50px;
  text-align: center;
}
