.title {
	font-size: 20px;
	color: black;
	margin: auto;
	text-align: center;
}

body {
	background: #00c6ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', sans-serif;
	padding: 20px;
}

.result {
	width: 300px;
	height: auto;
	display: block;
	margin: 50px auto;
}

.main {
	background: #FFF;
	padding: 20px;
	height: 90vh;
	box-sizing: border-box;
	border-radius: 9px;
	position: relative;
}

.owner {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-style: italic; 	
}

